body{
    font-family: Arial, Helvetica, sans-serif;
}
#formasPagamento {
    color: red;
}

.menu{
    background-color: red;
    width: 100%;
}
.menu a {
    color: white;
    text-decoration: none;
}
.stock {
    border: 0;
    width: 100%;
    cellpading: 20;
}

#menuStock{
    -ms-grid-row-span: 5;
    width: 20%;
    align-items: top;
}

#rodape{
    text-align: center;
}
.preco{
    color: red;
    font-weight: bolder;
}
